body,
html {
  overflow-x: hidden;
  font-family: "Roboto";
}
body.overflow,
html.overflow {
  overflow: hidden !important;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  background: #FAF2E7;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto";
}

input,
textarea {
  border: none;
}
input:focus,
textarea:focus {
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

button {
  cursor: pointer;
  border: none;
  transition: 0.3s;
  background: none;
}
button:focus {
  outline: none;
  border: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  transition: 0.3s;
  display: inline-block;
}
a:hover {
  text-decoration: none;
}
a:focus {
  outline: none;
}

.wrapper {
  max-width: 1120px;
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main-title {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -1px;
  text-transform: uppercase;
}

.main-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: #471224;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 34px;
  border-radius: 40px;
  color: #ebe5e0;
}
.main-btn img {
  margin-left: 15px;
}
.main-btn:hover {
  background: #631932;
}
.main-btn.scroll {
  background: white;
  color: #471224;
}

.white-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 1px solid #471224;
  font-size: 16px;
  font-weight: bold;
  padding: 12px 34px;
  border-radius: 40px;
  color: #471224;
}
.white-btn:hover {
  background: #471224;
  color: #ebe5e0;
}

.main-slider-info {
  margin: 15px 0;
}
.main-slider-info .info {
  padding: 40px 0 20px;
  background: url(../img/main-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.main-slider-info .info .main-title {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .main-slider-info .info .main-title {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.main-slider-info .info .subtitle {
  margin-bottom: 40px;
  color: #fff;
  font-size: 16px;
}
@media (max-width: 767px) {
  .main-slider-info .info .subtitle {
    margin-bottom: 20px;
  }
}
.main-slider-info .info .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.main-slider-info .info .buttons a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 40px;
  background: #fff;
  font-size: 14px;
  font-weight: 600;
  color: #471224;
  padding: 5px 10px 5px 20px;
}
@media (max-width: 767px) {
  .main-slider-info .info .buttons a {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}
.main-slider-info .info .buttons a .icon {
  width: 34px;
  height: 34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #471224;
  border-radius: 50%;
  margin-left: 15px;
}
.main-slider-info .info .buttons a .icon img {
  margin: auto;
}
.main-slider-info .info .buttons a.border-style {
  border: 1px solid #fff;
  background: #471224;
  color: white;
}
.main-slider-info .info .buttons a.border-style .icon {
  background: white;
}
.main-slider-info > .wrapper .slider-for .item,
.main-slider-info > .wrapper .slider-for3 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-slider-info > .wrapper .slider-for .item img,
.main-slider-info > .wrapper .slider-for3 .item img {
  width: 100%;
}
.main-slider-info > .wrapper .slider-nav .item img,
.main-slider-info > .wrapper .slider-nav3 .item img {
  width: 100%;
}
.main-slider-info > .wrapper .slider-nav .item.slick-current,
.main-slider-info > .wrapper .slider-nav3 .item.slick-current {
  opacity: 0.5;
}
.main-slider-info > .wrapper .slider-wrap,
.main-slider-info > .wrapper .slider-wrap2 {
  position: relative;
  z-index: 0;
  margin-top: 20px;
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background: #fff;
}
@media (max-width: 767px) {
  .main-slider-info > .wrapper .slider-wrap .slider-navigation button,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 767px) {
  .main-slider-info > .wrapper .slider-wrap .slider-navigation button img,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button img {
    width: 16px;
  }
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button:hover,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button:hover {
  opacity: 0.5;
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button:before,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button:before {
  content: none;
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button.slick-next,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .main-slider-info > .wrapper .slider-wrap .slider-navigation button.slick-next,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button.slick-next {
    right: -15px;
  }
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button.slick-prev,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .main-slider-info > .wrapper .slider-wrap .slider-navigation button.slick-prev,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button.slick-prev {
    left: -15px;
  }
}
.main-slider-info > .wrapper .slider-wrap .slider-navigation button.slick-prev img,
.main-slider-info > .wrapper .slider-wrap2 .slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}

@font-face {
  font-family: "Buyan";
  src: url("../fonts/Buyan-Bold.woff2") format("woff2"), url("../fonts/Buyan-Bold.woff") format("woff"), url("../fonts/Buyan-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
.request-call {
  padding: 20px;
  background: #59160C;
  margin-bottom: 20px;
  margin-top: 20px;
  position: relative;
  overflow: hidden;
  z-index: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.request-call .text-wrap {
  width: 45%;
  padding: 20px;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  .request-call .text-wrap {
    width: 100%;
    padding: 0;
  }
}
.request-call .img-wrap {
  width: 55%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1024px) {
  .request-call .img-wrap {
    display: none;
  }
}
.request-call .img-wrap img {
  width: 100%;
}
@media (max-width: 1024px) {
  .request-call {
    width: calc(100% + 30px);
    margin-left: -15px;
  }
}
.request-call .style {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}
@media (max-width: 1024px) {
  .request-call .style {
    width: 850px;
  }
}
@media (max-width: 767px) {
  .request-call {
    margin-bottom: 30px;
  }
}
.request-call h2 {
  color: #FAF2E7;
  font-size: 47px;
  font-style: normal;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 20px;
}
@media (max-width: 1100px) {
  .request-call h2 {
    font-size: 44px;
  }
}
@media (max-width: 767px) {
  .request-call h2 {
    margin-bottom: 20px;
    line-height: 100%;
    font-size: 28px;
  }
}
.request-call .request-form {
  width: 100%;
}
.request-call .request-form .input {
  margin-bottom: 30px;
}
.request-call .request-form .input span {
  display: block;
  margin-bottom: 15px;
  color: white;
  font-size: 14px;
}
.request-call .request-form input {
  width: 100%;
  height: 42px;
  border-radius: 50px;
  padding: 0 20px;
  font-size: 14px;
  font-weight: 600;
  color: #23123c;
}
.request-call .request-form button {
  height: 42px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 50px;
  color: #59160C;
  font-size: 16px;
  font-style: normal;
  background: white;
  font-weight: 600;
  line-height: normal;
  border: 1px solid #fff;
}

.tabs {
  width: 100%;
}

.tab-links {
  list-style-type: none;
  display: flex;
}

.tab-links li a {
  padding: 10px 50px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #2E2E2D;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 767px) {
  .tab-links li a {
    padding: 15px;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
  }
}

.tab-links li.active a {
  background: #59160C;
}

.tab-pane {
  overflow: hidden;
  visibility: hidden;
  height: 0;
  opacity: 0;
  transition: 0.3s;
}

.tab-pane.active {
  overflow: visible;
  visibility: visible;
  height: auto;
  opacity: 1;
}

.samal-slider-wrap {
  position: relative;
  z-index: 0;
  width: 53%;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .samal-slider-wrap {
    width: 100%;
    margin-top: 40px;
  }
}
.samal-slider-wrap .slider-navigation button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #59160C;
}
@media (max-width: 767px) {
  .samal-slider-wrap .slider-navigation button {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 767px) {
  .samal-slider-wrap .slider-navigation button img {
    width: 16px;
  }
}
.samal-slider-wrap .slider-navigation button:hover {
  opacity: 0.5;
}
.samal-slider-wrap .slider-navigation button:before {
  content: none;
}
.samal-slider-wrap .slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .samal-slider-wrap .slider-navigation button.slick-next {
    right: 10px;
  }
}
.samal-slider-wrap .slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .samal-slider-wrap .slider-navigation button.slick-prev {
    left: 10px;
  }
}
.samal-slider-wrap .slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.samal-slider-wrap .samal-slider .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.samal-slider-wrap .samal-slider .item img {
  width: 100%;
}

.samal-slider-wrap2 {
  position: relative;
  z-index: 0;
  width: 53%;
  align-self: flex-start;
}
@media (max-width: 767px) {
  .samal-slider-wrap2 {
    width: 100%;
    margin-top: 30px;
  }
}
.samal-slider-wrap2 .slider-navigation button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #59160C;
}
@media (max-width: 767px) {
  .samal-slider-wrap2 .slider-navigation button {
    width: 36px;
    height: 36px;
  }
}
@media (max-width: 767px) {
  .samal-slider-wrap2 .slider-navigation button img {
    width: 16px;
  }
}
.samal-slider-wrap2 .slider-navigation button:hover {
  opacity: 0.5;
}
.samal-slider-wrap2 .slider-navigation button:before {
  content: none;
}
.samal-slider-wrap2 .slider-navigation button.slick-next {
  right: 20px;
}
@media (max-width: 767px) {
  .samal-slider-wrap2 .slider-navigation button.slick-next {
    right: 10px;
  }
}
.samal-slider-wrap2 .slider-navigation button.slick-prev {
  left: 20px;
}
@media (max-width: 767px) {
  .samal-slider-wrap2 .slider-navigation button.slick-prev {
    left: 10px;
  }
}
.samal-slider-wrap2 .slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.samal-slider-wrap2 .samal-slider2 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.samal-slider-wrap2 .samal-slider2 .item img {
  width: 100%;
}

.video-wrap {
  margin-top: 20px;
}
.video-wrap .video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vw;
}
@media (max-width: 1024px) {
  .video-wrap .video {
    height: 60vw;
  }
}
.video-wrap .video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.samal-info {
  margin: 20px 0;
}
.samal-info .info {
  border-radius: 0 20px 20px 20px;
  padding: 30px 20px;
  background: #59160C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .samal-info .info {
    flex-direction: column-reverse;
  }
}
.samal-info .info.style2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 1024px) {
  .samal-info .info.style2 .texts {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .samal-info .info.style2 .texts {
    width: 100%;
    margin-bottom: 30px;
  }
}
@media (max-width: 1024px) {
  .samal-info .info.style2 .image-wrap {
    width: 50%;
  }
}
@media (max-width: 767px) {
  .samal-info .info.style2 .image-wrap {
    width: 100%;
  }
  .samal-info .info.style2 .image-wrap img {
    width: 100%;
  }
}
.samal-info .info.style2 .image-wrap img {
  max-width: 100%;
  max-height: 100%;
}
.samal-info .info .texts {
  width: 47%;
  padding-left: 30px;
}
@media (max-width: 1024px) {
  .samal-info .info .texts {
    padding-left: 20px;
  }
}
@media (max-width: 767px) {
  .samal-info .info .texts {
    width: 100%;
    padding: 0;
  }
}
.samal-info .info .texts h2 {
  color: #FAF2E7;
  font-family: "Buyan";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .samal-info .info .texts h2 {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .samal-info .info .texts h2 {
    font-size: 40px;
  }
}
.samal-info .info .texts p {
  color: #FAF2E7;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .samal-info .info .texts p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.samal-info .info .texts .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 1024px) {
  .samal-info .info .texts .buttons {
    grid-template-columns: 1fr;
  }
}
.samal-info .info .texts .buttons button {
  padding: 7px 10px;
  border-radius: 10px;
  border: 1.899px solid rgba(246, 244, 242, 0.5);
  background: #FAF2E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  color: #59160C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.samal-info .info .texts .buttons button img {
  width: 30px;
}
.samal-info .info .texts .list-info {
  padding-right: 30px;
  padding-left: 10px;
}
@media (max-width: 1024px) {
  .samal-info .info .texts .list-info {
    padding-right: 20px;
    padding-left: 0;
  }
}
.samal-info .info .texts .list-info .info-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(250, 242, 231, 0.3);
  padding-bottom: 30px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .samal-info .info .texts .list-info .info-item {
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
}
.samal-info .info .texts .list-info .info-item:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border: none;
}
.samal-info .info .texts .list-info .info-item span {
  margin-left: 30px;
  max-width: 150px;
  width: 100%;
  display: inline-block;
  color: #FAF2E7;
  font-size: 26px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1024px) {
  .samal-info .info .texts .list-info .info-item span {
    font-size: 22px;
    max-width: 130px;
    margin-left: 15px;
  }
}
.samal-info .info .texts .list-info .info-item b {
  color: #FAF2E7;
  font-size: 64px;
  font-style: normal;
  font-weight: 500;
  line-height: 90%;
  text-transform: uppercase;
  margin-left: auto;
}
@media (max-width: 1024px) {
  .samal-info .info .texts .list-info .info-item b {
    font-size: 40px;
  }
}

.samal-info2 {
  margin: 20px 0;
}
.samal-info2 .info {
  border-radius: 20px;
  padding: 30px;
  background: #59160C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .samal-info2 .info {
    flex-direction: column;
  }
}
.samal-info2 .info .texts {
  width: 47%;
  padding-right: 30px;
}
@media (max-width: 1024px) {
  .samal-info2 .info .texts {
    padding-right: 20px;
  }
}
@media (max-width: 767px) {
  .samal-info2 .info .texts {
    width: 100%;
    padding: 0;
  }
}
.samal-info2 .info .texts h2 {
  color: #FAF2E7;
  font-family: "Buyan";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 20px;
}
@media (max-width: 1200px) {
  .samal-info2 .info .texts h2 {
    font-size: 55px;
  }
}
@media (max-width: 1024px) {
  .samal-info2 .info .texts h2 {
    font-size: 40px;
  }
}
.samal-info2 .info .texts p {
  color: #FAF2E7;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.36px;
  margin-bottom: 30px;
}
@media (max-width: 1024px) {
  .samal-info2 .info .texts p {
    font-size: 16px;
    margin-bottom: 20px;
  }
}
.samal-info2 .info .texts .buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}
@media (max-width: 1024px) {
  .samal-info2 .info .texts .buttons {
    grid-template-columns: 1fr;
  }
}
.samal-info2 .info .texts .buttons button {
  padding: 7px 10px;
  border-radius: 10px;
  border: 1.899px solid rgba(246, 244, 242, 0.5);
  background: #FAF2E7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 10px;
  color: #59160C;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.samal-info2 .info .texts .buttons button img {
  width: 30px;
}

.get-consultation,
.get-consultation-style2 {
  margin: 15px 0;
  padding: 15px 0;
  background: #59160C;
}
.get-consultation .wrapper,
.get-consultation-style2 .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .get-consultation .wrapper,
.get-consultation-style2 .wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .get-consultation .wrapper .logo,
.get-consultation-style2 .wrapper .logo {
    width: 200px;
  }
}
.get-consultation .wrapper .get-consultation-form,
.get-consultation-style2 .wrapper .get-consultation-form {
  max-width: 330px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
@media (max-width: 1024px) {
  .get-consultation .wrapper .get-consultation-form,
.get-consultation-style2 .wrapper .get-consultation-form {
    max-width: 280px;
  }
}
.get-consultation .wrapper .get-consultation-form input,
.get-consultation-style2 .wrapper .get-consultation-form input {
  width: 100%;
  border: 1px solid #705041;
  height: 42px;
  border-radius: 40px;
  padding: 0 20px;
  background: #FAF2E7;
  margin-bottom: 10px;
}
.get-consultation .wrapper .get-consultation-form button,
.get-consultation-style2 .wrapper .get-consultation-form button {
  width: 100%;
  height: 42px;
  padding: 10px 34px;
  border-radius: 45px;
  border: 1.5px solid rgba(89, 22, 12, 0.5);
  background: #FAF2E7;
  font-size: 18px;
  font-weight: 500;
  color: #59160C;
}
.get-consultation .wrapper p,
.get-consultation-style2 .wrapper p {
  font-size: 40px;
  font-weight: 500;
  color: #FAF2E7;
  max-width: 280px;
  line-height: 100%;
}
@media (max-width: 1024px) {
  .get-consultation .wrapper p,
.get-consultation-style2 .wrapper p {
    font-size: 30px;
    max-width: 190px;
  }
}
@media (max-width: 767px) {
  .get-consultation .wrapper p,
.get-consultation-style2 .wrapper p {
    text-align: center;
    margin: 20px auto;
    font-size: 28px;
    line-height: 100%;
  }
}
.get-consultation.get-consultation-style2,
.get-consultation-style2.get-consultation-style2 {
  background: #705041;
}
.get-consultation.get-consultation-style2 p,
.get-consultation-style2.get-consultation-style2 p {
  color: #f6f4f2;
}
.get-consultation.get-consultation-style2 .get-consultation-form button,
.get-consultation-style2.get-consultation-style2 .get-consultation-form button {
  border-radius: 45px;
  border: 1.5px solid rgba(89, 22, 12, 0.5);
  background: #FAF2E7;
}

.tour-3d .info {
  height: 540px;
  background: #d9d9d9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 1100px) {
  .tour-3d .info {
    height: 450px;
  }
}
@media (max-width: 767px) {
  .tour-3d .info {
    height: 60vw;
  }
}
.tour-3d .info span {
  margin: auto;
  font-size: 40px;
  font-weight: 500;
}

.select-apartment {
  background: #2E2E2D;
  padding: 40px 0;
  margin: 20px 0;
}
.select-apartment .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .select-apartment .wrapper {
    flex-direction: column;
  }
}
.select-apartment .wrapper h3 {
  color: #FFF;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.988px;
}
@media (max-width: 1024px) {
  .select-apartment .wrapper h3 {
    margin: 20px 0;
    text-align: center;
    font-size: 34px;
  }
}
@media (max-width: 767px) {
  .select-apartment .wrapper h3 {
    font-size: 30px;
  }
}
.select-apartment .wrapper a {
  border-radius: 29.683px;
  border: 1.5px solid rgba(46, 46, 45, 0.5);
  background: #FAF2E7;
  padding: 10px 40px;
  font-size: 18px;
  font-weight: 500;
  color: #2E2E2D;
}
@media (max-width: 767px) {
  .select-apartment .wrapper a {
    font-size: 16px;
  }
}

.planning-solutions-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #59160C;
  padding: 30px;
  border-radius: 20px 20px 0 0;
  flex-direction: row-reverse;
}
@media (max-width: 767px) {
  .planning-solutions-wrap {
    flex-direction: column-reverse;
    padding: 20px;
  }
}
.planning-solutions-wrap .slider-for4 .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}
.planning-solutions-wrap .slider-for4 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.planning-solutions-wrap .slider-nav4 .item {
  height: auto;
  max-height: 138px;
  border: 1px solid #f6f4f2;
  overflow: hidden;
  margin: 0 5px;
  position: relative;
  z-index: 0;
}
.planning-solutions-wrap .slider-nav4 .item:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(89, 22, 12, 0.5);
}
@media (max-width: 767px) {
  .planning-solutions-wrap .slider-nav4 .item {
    height: auto;
    margin: 10px 5px 0;
    opacity: 1;
  }
}
.planning-solutions-wrap .slider-nav4 .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.planning-solutions-wrap .slider-nav4 .item.slick-current {
  opacity: 1;
  transform: scale(1.03);
}
.planning-solutions-wrap .slider-nav4 .item.slick-current:after {
  content: none;
}
@media (max-width: 767px) {
  .planning-solutions-wrap .slider-nav4 .item.slick-current {
    transform: scale(1);
  }
}
.planning-solutions-wrap .left {
  width: 230px;
  min-width: 230px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .planning-solutions-wrap .left {
    width: 100%;
    margin: 0;
    display: block;
    margin-top: 10px;
  }
}
.planning-solutions-wrap .right {
  width: calc(100% - 240px);
  position: relative;
  z-index: 0;
}
@media (max-width: 767px) {
  .planning-solutions-wrap .right {
    width: 100%;
  }
}

.planning-solutions {
  margin: 20px 0;
}
.planning-solutions .white-btn {
  border-radius: 26.376px;
  border: 0.5px solid rgba(246, 244, 242, 0.53);
  background: #f6f4f2;
  padding: 10px 34px;
  font-size: 16px;
  font-weight: bold;
  color: #471224;
}
@media (max-width: 767px) {
  .planning-solutions .white-btn {
    padding: 10px 24px;
  }
}
.planning-solutions .arrow-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  flex-direction: row-reverse;
  background: #59160C;
  padding: 30px;
  padding-top: 0;
  border-radius: 0 0 20px 20px;
}
@media (max-width: 767px) {
  .planning-solutions .arrow-wrap {
    padding: 20px;
    padding-top: 0;
  }
}
.planning-solutions .arrow-wrap .slider-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: static;
  z-index: 10;
  width: 90px;
  overflow: hidden;
  border-radius: 40px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .planning-solutions .arrow-wrap .slider-navigation {
    width: 70px;
  }
}
.planning-solutions .arrow-wrap .slider-navigation button {
  position: static;
  transform: translate(0, 0);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  background: #fff;
  height: 40px;
  border-radius: 50%;
}
@media (max-width: 767px) {
  .planning-solutions .arrow-wrap .slider-navigation button {
    width: 30px;
    height: 30px;
  }
}
.planning-solutions .arrow-wrap .slider-navigation button:hover {
  opacity: 0.5;
}
.planning-solutions .arrow-wrap .slider-navigation button img {
  margin: auto;
  width: 18px;
}
@media (max-width: 767px) {
  .planning-solutions .arrow-wrap .slider-navigation button img {
    width: 14px;
  }
}
.planning-solutions .arrow-wrap .slider-navigation button:before {
  content: none;
}
.planning-solutions .arrow-wrap .slider-navigation button.slick-prev img {
  transform: rotate(180deg);
}
.planning-solutions .main-title {
  color: #2E2E2D;
  font-family: "Buyan";
  font-size: 65px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .planning-solutions .main-title {
    font-size: 40px;
  }
}
@media (max-width: 767px) {
  .planning-solutions .main-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
}

.map-wrap {
  margin: 20px 0;
}
.map-wrap .wrapper .map-img {
  width: 100%;
}

.tab-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-menu li a {
  padding: 10px 50px;
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #2E2E2D;
  border-radius: 20px 20px 0 0;
}
@media (max-width: 767px) {
  .tab-menu li a {
    padding: 15px;
    font-size: 16px;
    border-radius: 20px 20px 0 0;
  }
}
.tab-menu li.active a {
  background: #59160C;
}

.tab-content .tab-content-item {
  height: 0px;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.tab-content .tab-content-item.active {
  height: auto;
  overflow: visible;
}

.map-info-slider {
  padding: 30px;
  background: #59160C;
  width: 100%;
  border-radius: 0 20px 20px 20px;
  margin-bottom: 30px;
}
@media (max-width: 767px) {
  .map-info-slider {
    padding: 20px;
    margin-bottom: 20px;
  }
}
.map-info-slider.slick-list {
  margin: 0 -10px;
}
.map-info-slider .item {
  width: 220px;
  height: 120px;
  border-radius: 10px;
  border: 2px solid #59160C;
  background: #FAF2E7;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 10px;
}
.map-info-slider .item b {
  color: #59160C;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.map-info-slider .item .minute {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  color: #59160C;
}
.map-info-slider .item .minute img {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}

.samal-banner {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .samal-banner {
    margin-bottom: 10px;
  }
}
.samal-banner .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  position: relative;
  z-index: 0;
}
.samal-banner .img-wrap > img {
  width: 100%;
}
.samal-banner .img-wrap .info {
  position: absolute;
  bottom: -10px;
  left: 0;
  z-index: 1;
}
@media (max-width: 767px) {
  .samal-banner .img-wrap .info {
    bottom: -5px;
  }
}
.samal-banner .img-wrap .info h2 {
  max-width: 450px;
  width: 100%;
  color: #2E2E2D;
  font-family: "Buyan";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .samal-banner .img-wrap .info h2 {
    font-size: 75px;
    line-height: 90%;
  }
}
@media (max-width: 1024px) {
  .samal-banner .img-wrap .info h2 {
    font-size: 7.5vw;
  }
}
@media (max-width: 767px) {
  .samal-banner .img-wrap .info h2 {
    font-size: 7vw;
  }
}
.samal-banner .img-wrap .info h2 span {
  color: #59160C;
  font-family: "Buyan";
  font-size: 80px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%;
  text-transform: uppercase;
}
@media (max-width: 1100px) {
  .samal-banner .img-wrap .info h2 span {
    font-size: 75px;
    line-height: 90%;
  }
}
@media (max-width: 1024px) {
  .samal-banner .img-wrap .info h2 span {
    font-size: 7.5vw;
  }
}
@media (max-width: 767px) {
  .samal-banner .img-wrap .info h2 span {
    font-size: 7vw;
  }
}
.samal-banner .img-wrap .info p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: flex-end;
  margin-bottom: 15px;
  color: #2E2E2D;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media (max-width: 1024px) {
  .samal-banner .img-wrap .info p {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .samal-banner .img-wrap .info p {
    display: none;
  }
}
.samal-banner .img-wrap .info p img {
  margin-right: 7px;
}
@media (max-width: 1024px) {
  .samal-banner .img-wrap .info p img {
    width: 20px;
  }
}
@media (max-width: 767px) {
  .samal-banner .img-wrap .info p img {
    width: 16px;
    margin-right: 5px;
  }
}
.samal-banner .text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .samal-banner .text-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.samal-banner .text-wrap .buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 767px) {
  .samal-banner .text-wrap .buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    max-width: 280px;
    width: 100%;
    margin: 0 auto;
  }
}
.samal-banner .text-wrap .buttons .btn-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 20px;
  transition: 0.3s;
}
@media (max-width: 767px) {
  .samal-banner .text-wrap .buttons .btn-wrap {
    margin-right: 0;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 100%;
  }
}
.samal-banner .text-wrap .buttons .btn-wrap.grey a, .samal-banner .text-wrap .buttons .btn-wrap.grey button {
  border: 1.5px solid rgba(250, 242, 231, 0.5);
  background: #2E2E2D;
}
.samal-banner .text-wrap .buttons .btn-wrap a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 29.683px;
  border: 1.5px solid rgba(250, 242, 231, 0.5);
  background: #59160C;
  padding: 10px 40px;
  color: #FAF2E7;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
@media (max-width: 1024px) {
  .samal-banner .text-wrap .buttons .btn-wrap a {
    padding: 10px 26px;
    font-size: 17px;
  }
}
@media (max-width: 767px) {
  .samal-banner .text-wrap .buttons .btn-wrap a {
    flex-grow: 1;
  }
}
.samal-banner .text-wrap .buttons .btn-wrap button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: 1.5px solid rgba(250, 242, 231, 0.5);
  background: #59160C;
  margin-left: 2px;
}
.samal-banner .text-wrap .buttons .btn-wrap button img {
  margin: auto;
}
.samal-banner .text-wrap .buttons .btn-wrap:hover {
  opacity: 0.9;
}
.samal-banner .text-wrap .buttons .btn-wrap:hover button {
  transform: translateX(3px);
}
.samal-banner .text-wrap .date-text {
  color: #2E2E2D;
  font-size: 30px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  letter-spacing: -0.6px;
}
@media (max-width: 1024px) {
  .samal-banner .text-wrap .date-text {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .samal-banner .text-wrap .date-text {
    font-size: 20px;
    max-width: 280px;
    width: 100%;
    text-align: left;
    margin: 0 auto;
    padding-left: 10px;
  }
}
.samal-banner .text-wrap .date-text b {
  font-weight: 500;
}

.grid-block {
  margin: 20px 0;
}
.grid-block .grid-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.grid-block .grid-items span {
  color: #FAF2E7;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
@media (max-width: 1200px) {
  .grid-block .grid-items span {
    font-size: 20px;
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items span {
    font-size: 24px;
  }
}
.grid-block .grid-items .bg {
  height: 260px;
  border-radius: 20px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
@media (max-width: 500px) {
  .grid-block .grid-items .bg {
    height: 200px;
  }
}
.grid-block .grid-items .item1 {
  position: relative;
  z-index: 0;
  width: calc(25% - 12px);
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item1 {
    width: 228px;
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item1 {
    width: 100%;
    margin-bottom: 12px;
  }
}
.grid-block .grid-items .item1 > img {
  width: 100%;
  height: 100%;
}
.grid-block .grid-items .item1 .arr {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #59160C;
  position: absolute;
  bottom: 2px;
  right: 0;
}
.grid-block .grid-items .item1 .arr:hover {
  opacity: 0.9;
}
.grid-block .grid-items .item1 .arr img {
  margin: auto;
}
.grid-block .grid-items .item1 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-block .grid-items .item1 .texts img {
  margin-bottom: 25px;
}
.grid-block .grid-items .item2 {
  width: calc(50% - 12px);
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item2 {
    width: calc(100% - 240px);
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item2 {
    width: 100%;
    margin-bottom: 12px;
  }
}
.grid-block .grid-items .item3 {
  border-radius: 20px;
  background: #2E2E2D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(25% - 12px);
  position: relative;
  z-index: 0;
  margin-bottom: 12px;
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item3 {
    width: calc(50% - 6px);
    margin-bottom: 12px;
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item3 {
    width: 100%;
    margin-bottom: 12px;
    height: 200px;
  }
}
.grid-block .grid-items .item3 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-block .grid-items .item3 .texts img {
  margin-bottom: 25px;
}
.grid-block .grid-items .item4 {
  width: calc(25% - 12px);
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item4 {
    width: calc(50% - 6px);
    margin-bottom: 12px;
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item4 {
    width: 100%;
    margin-bottom: 12px;
  }
}
.grid-block .grid-items .item5 {
  width: calc(25% - 12px);
  border-radius: 20px;
  background: #59160C;
  position: relative;
  z-index: 0;
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item5 {
    width: calc(50% - 6px);
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item5 {
    width: 100%;
    margin-bottom: 12px;
    height: 200px;
  }
}
.grid-block .grid-items .item5 .texts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.grid-block .grid-items .item5 .texts b {
  margin-bottom: 25px;
  color: #FAF2E7;
  text-align: center;
  display: block;
  font-size: 65px;
  font-style: normal;
  font-weight: 500;
  line-height: 70%;
  text-transform: uppercase;
}
.grid-block .grid-items .item6 {
  width: calc(50% - 12px);
}
@media (max-width: 1024px) {
  .grid-block .grid-items .item6 {
    width: calc(50% - 6px);
  }
}
@media (max-width: 500px) {
  .grid-block .grid-items .item6 {
    width: 100%;
    margin-bottom: 12px;
  }
}

/*# sourceMappingURL=style.css.map */
