@font-face {
  font-family: "Buyan";
  src: url('../fonts/Buyan-Bold.woff2') format('woff2'),
      url('../fonts/Buyan-Bold.woff') format('woff'),
      url('../fonts/Buyan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
